.vscode/**
.vscode-test/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json
.local_bash_history
.tarignore
.vscodeignore
bkup.log
build.sh
CHANGELOG.md
prepare_devenv.sh
tsconfig.json
gleam_lscore/**
tmp/**
_unused/**
git-push.sh
images/screen1.jpg
node_modules/**
.eslintrc.json
package-lock.json
package.json
prepare.sh
tsconfig.json
webpack.config.js
testrun.sh
src/**
.local_bash_history
